@use './variables' as var;

@mixin make-col($cols, $gap) {
  display: flex;
  flex-wrap: wrap;

  > *:nth-child(1n + 0) {
    margin: 0 $gap $gap 0;
    width: calc((100% - #{($cols - 1) * $gap}) / #{$cols});
  }

  > *:nth-child(#{$cols}n + 0) {
    margin-right: 0;
  }
}

@mixin p-small() {
  font-size: 0.75rem; // 12px
  line-height: 1.34375rem; // 21.5px
  margin-bottom: 0.9375rem; // 15px
}
